<div class="full-explore">
    <div class="searchs">
        <h2>search for a user here: </h2>
        <div>
            <input type="search" placeholder="Search For a user" #search id="search" />
            <button (click)="UserSearch(search.value)">Search</button>
        </div>

        <div *ngIf="userFound.userEmail != ''" id="f" >
            <div class="outPut" (click)="GoToAccount(userFound.userEmail)"><h6>{{userFound.userEmail}}</h6></div>
        </div>
    </div>

    <div class="searchs">
        <h2>search for a BookClub here: </h2>
        <div>
            <input type="clubSearch" placeholder="Search For a club" #clubSearch id="clubSearch" />
            <button (click)="SearchClub(clubSearch.value)">Search</button>
        </div>

        <div *ngIf="Clubs" id="f" >
            <div class="club" *ngFor="let club of Clubs">
                <div class="outPut" (click)="GoToClub(club.bookClubId)"><h6>{{club.name}}</h6></div>
            </div>
        </div>
    </div>

</div>