.full-body{
    margin: auto;
    width: 90%;
    border: 1px;
    padding: 20px;
    background: rgba(300, 300, 300, 0.85);
}

.bookclub-info{
    margin: auto;
    align-items: center;
    text-align: center;
}

.search-google{
    margin: auto;
    align-items: center;
    text-align: center;
}

.post{
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    border: 1px;
    background-color: rgb(238, 238, 238);;
    opacity: 1;
    box-shadow: 2px 2px 2px grey;
}

.post:hover {
    background-color: white;
}