.full-profile{
    margin: auto;
    width: 90%;
    border: 1px;
    padding: 20px;
    background-color: aliceblue;
    opacity: 0.9;
}
.user-email{
    margin: auto;
    align-items: center;
    text-align: center;
}
.table{
    width: 30%;
}