<div class="full-comment" *ngIf="IsUserPost == true">
    <div class="post" *ngIf="UPost">
        <h5>{{UPost.userEmail}}</h5>
        <p>{{UPost.post}}</p>
    </div>

    <div class="comment-add">
        <form  (ngSubmit)="onSubmit()" #reviewForm="ngForm">
            <div class="form-group">
                <label for="message">Comment: </label>
                <input type="text" [(ngModel)]="uComment.message" class="form-control" #name="ngModel"
                    placeholder="Please leave your comment" name="message">
            </div>
            <button type="submit" class="btn btn-secondary">Add Comment</button>
        </form>
    </div>

    <div class="comments">
        <div class="comment" *ngFor ="let comment of userComments">
            <h6>{{comment.userEmail}}</h6>
            <p>{{comment.message}}</p>
        </div>
    </div>
</div>

<div class="full-comment" *ngIf="IsUserPost == false">
    <div class="post" *ngIf="UPost">
        <h5>{{CPost.userEmail}}</h5>
        <p>{{CPost.post}}</p>
    </div>

    <div class="comment-add">
        <form  (ngSubmit)="onSubmit()" #reviewForm="ngForm">
            <div class="form-group">
                <label for="message">Comment: </label>
                <input type="text" [(ngModel)]="cComment.message" class="form-control" #name="ngModel"
                    placeholder="Please leave your comment" name="message">
            </div>
            <button type="submit" class="btn btn-secondary">Add Comment</button>
        </form>
    </div>

    <div class="comments">
        <div class="comment" *ngFor ="let comment of clubComments">
            <h6>{{comment.userEmail}}</h6>
            <p>{{comment.message}}</p>
        </div>
    </div>
</div>
