<div class="container">
   
 
    <br />
    <ul id="content">
        <div class="card" style="width: 80rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <li>{{newbookClub.name}}</li>
                </h5>
                <p class="card-text">
                    <li>{{newbookClub.description}}</li>
                </p>
                <span hidden id="bookClubId">{{newbookClub.bookClubId}}</span>
               

                <div class="card-body">
                     
                    <a (click)="GotoAddClubPost(newbookClub.bookClubId, newbookClub.name)" class="card-link">new post</a>
                    &nbsp;
                    <a (click)="GotoViewClubPost(newbookClub.bookClubId, newbookClub.name)" class="card-link">view post</a>

                                  </div>
            </div>
        </div>
    </ul>    
</div>