


<app-book></app-book>

<div id="home-content">
    <p><strong>BOOKSCLUBS LIST</strong> </p>
    
    This text is the content of the box. We have added a 
        50px padding, 20px margin and a 15px green border.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
          nulla pariatur. Excepteur sint occaecat cupidatat non proident,
         sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

<div id="side-menu">
    <ul>
        <li><a class="menu-item">Bookclubs</a></li>
        <li><a class="menu-item">Flowers</a></li>
        <li><a class="menu-item">ClubPost</a></li>
    </ul>
   
</div>