<div class="container">



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of bookclubs">
      <th scope="row">{{b.name}}</th>
      <td>{{b.description}}</td>
      <td>{{b.email}}</td>
      <td><a [routerLink]="['/ClubPostDetails', b.id,b.name]" class="btn btn-primary">details</a></td>
    </tr>
   
  </tbody>
</table>

</div>