<div class="full-profile container transparent">
    <div class ="user-email" *ngIf="userEmail">
        <h3>User Profile</h3>
        <h1>{{accountEmail}}</h1>
    </div>
    <div class="follow-unfollow">
        <div class="follow" *ngIf="isFollowing == true">
            <button>Unfollow</button>
        </div>
        <div class="follow" *ngIf="isFollowing == false">
            <button (click)="Follow()">follow</button>
        </div>
    </div>

    <div class="container" >
        <div class="row">
            <div class="col-sm-4" *ngIf="booksToRead" id="f">
                <h4>Books to read</h4>
                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>Author</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of booksToRead">
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4" *ngIf="booksRead" id="f">
                <h4>Books read</h4>
                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>Author</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of booksRead">
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4" *ngIf="favoriteBooks" id="f">
                <h4>Favorite Books</h4>
                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>Author</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of favoriteBooks">
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="user-posts">
        
        <div *ngIf="userPosts" id="f">
            <div class="post" *ngFor="let userPost of userPosts">
                <h6>{{userPost.userEmail}}</h6>
                <p (click) ="GotoComments(userPost.userPostId)">{{userPost.post}}</p>
                <p>{{userPost.totalLike}} Likes | {{userPost.totalDislike}} Dislikes</p>
            </div>
        </div>
    </div>
</div>
