<div id="home-content">
    <p><strong>BookClub</strong> </p>
    <p>Book Club is a web-based social application for managing a personal library. 
        Users are able to log in, join and create book clubs, track their reading progress, and recommend titles to other users. 
        Users can create a list of books they would like to read and a list of favorite books and view other users lists. 
        Users will have personal pages and book club pages which they can post to. Users will view posts from both pages on their feed. 
        Book Club Owners are able to manage their book club pages. This application uses the Google Books API to retrieve book information.</p>
</div>

<div id="side-menu">
    <ul>
        <li><a class="menu-item" routerLink="/books">Books</a></li>
        <li><a class="menu-item" routerLink="/bookclubs">BookClub</a></li>
        <li><a class="menu-item">ClubPost</a></li>
    </ul>
</div>